.center{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.center_Summary{
    font-size: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    bottom: 0;
    height: 74%;
    min-width: 99%;
    min-height:100%;
}

.hidden{
    opacity: 30%;
}

/* Container */
.rounded_container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid rgb(71,71,71);
    background-color: rgb(207,207,207);
    margin: 0 auto;
    padding: 20% 20%;
}

.rounded_container ul{
    position: absolute;
    /* padding: 0 300px 7px; */
    align-items: center;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    top: 7%;
    flex-wrap: wrap;
}

.rounded_container button{
    color: white;
    background-color: gray;
    font-size: 18px;
}

/* End of Container */

/* Graph DropDown Option */

.GraphDropdown{
    margin: 0 auto;
    position: relative;
}

.GraphDropdown_Content{
    display: none;
    position: absolute;
    margin: 0 auto;
    width: 200%;
    background-color: gray;
    /* min-width: 20.5%; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px;
    overflow: auto;
}

.GraphDropdown_Content button{
    font-size: 18px;
    object-fit: fill;
    border: none;
    border-color: gray;
}

.GraphDropdown a:hover {background-color: #f1f1f1;}
.GraphDropdown:hover .GraphDropdown_Content{display: block;}

.graphContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 94%;
    width: 100%;
}


/* End of Graph DropDown Option */


/* Champ DropDown */

.dropDown{
    position: absolute;
    border-radius: 30px;
    border: 2px black;
    margin: 0 -80px;
}

.dropDown img{
    border-radius: 25%;
    object-fit: fill;
    height: 60px;
    width: 60px;
    border: 2px solid black;
}

.dropDown_Content{
    display: none;
    position: absolute;
    margin: 0 auto;
    background-color: black;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px;
    overflow: auto;
}

.dropDown_Content img{
    padding: 0 0;
    object-fit: contain;
    height: 66px;
    width: 66px;
}

.dropDown button{
    color: white;
    background-color: black;
}

.dropDown_Content a:hover {background-color: #f1f1f1;}
.dropDown:hover .dropDown_Content{display: block;}
/* End of Champ DropDown */

/* Table */
.table_container{
    position: absolute;
    bottom: 0;
    width: 97.2%;
    height: 71%;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(207,207,207);
    padding: 10px 10px;
    /* margin: 0 0 0 -20.01%; */
}

table{
    overflow: scroll;
    table-layout: fixed;
    margin: 0.5px auto;
    bottom: 0;
    border: 2px solid black;
    width: 100%;
}

.th{
    border-style: gray;
    border-width: 1px;
    word-wrap: break-word;
    border: 5px solid black;
}

.td{
    border-width: 5px;
    word-wrap: break-word;
    border-bottom: 1px solid rgb(124,124,124);
}
/* End of Table */